/* You can add global styles to this file, and also import other style files */
app-root{
    text-decoration: none;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.active{
    /* background-color: rgba(236, 177, 189, 0.895); */
    /* border: 1px solid crimson; */
    border-radius: 5px;
    background-color: rgba(236, 228, 228, 0.892);
}
