<div class="home">
    <div class="content">
        <h4>A web based application for free medical services</h4>
    </div>

    <div class="doctor">
        <div class="register">
            <div class="promo">
                <h1>Doctors</h1>
                <p>are you ready to be volunteers!!</p>
            </div>
    
            <button class="btn btn-primary" (click)="openDialog()">Register Here</button>
        </div>
    </div>
    
    <!-- <div id="login">Register Here</div> -->
</div>
